 <nav class="navbar navbar-expand-lg navbar-dark bg-green fixed-top" style="background-color:chartreuse">
      <div class="container">
       
        <h1 style="color:white">NAVER HACK DAY (Contents Feed UI Team)</h1>
        
        <div class="collapse navbar-collapse" id="navbarResponsive">
        </div>
      </div>
    </nav>