<style>

  .getData{
    color:gray;
    text-align:center;
    cursor : pointer;
    padding:20px;
  }
</style>
<div class="container" style="padding-top:100px;">
  <h2>OOO님을 위한 AIRS 추천</h2> 
  <div id="newData" class="getData">새로운 뉴스 가져오기</div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>제목</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
      </tr>
      <tr>
        <td>Mary</td>
      </tr>
      <tr>
        <td>July</td>
      </tr>
    </tbody>
  </table>
  <div id="pastData" class="getData">과거 뉴스 가져오기</div>
</div>
<script src="/js/newsData.js"></script>